{{ partial "header.html" . }}
{{ partial "navbar.html" . }}

<article class="article" itemscope itemtype="http://schema.org/Article">

  {{ partial "header_image.html" . }}

  <div class="article-container">
    <h1 itemprop="name">{{ .Title }}</h1>
    {{ partial "article_metadata" (dict "content" . "is_list" 0) }}
    <div class="article-style" itemprop="articleBody">
      {{ .Content }}
    </div>
  </div>

</article>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga';);

  ga('create', 'UA-106233639-1', 'auto');
  ga('send', 'pageview');

</script>



<div class="container">
  {{ partial "section_pager.html" . }}
</div>

<div class="article-container">
  {{ partial "comments.html" . }}
</div>

{{ partial "footer_container.html" . }}
{{ partial "footer.html" . }}
